.custom-container{
	margin-right: -25px;
	margin-left: -25px;
	display: flex;
	flex-wrap: wrap;
}

.bidding-headers-container {
	display: flex;
	margin: 15px;
	width: 100%;
	flex-wrap: wrap;

}

.bidding-inputs {
	padding: 4px;

	input {
		margin-bottom: 3px;
	}

	p {
		margin-top: 5px;
		margin-bottom: 0px;
		min-height: $line-height-computed;
	}

}
.bidding-search {
	width: 75%;
	margin-right: 15px;
	max-width: 500px;
}

.item-list-container {
	width: 100%;
	margin-right: -80px;
}


.item-block {

	position: relative;
	min-width: 100%;
	//width: 50%;

	padding: 7px;

	h1 {
		font-size: 20px;
	}

}

.info-link {
	float: right;
	text-align: right;
}
.item-name {
	margin-top: 5px;
}

.item-artist {
	text-transform: uppercase;
}

.item-photo {

	img {
		display: block;
		width: 100%;
		height: auto;
		margin: auto;
	}
}

.item-topbid {
	border-bottom: 1px solid #666;
}


.pull-right {
	float: right !important;
	text-align: right;
}
.pull-left {
	float: left !important;
}

.shadow-box {
	position: absolute;
	border-radius: 3px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}