<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Login | Fundación Livinstione </title>

    <!-- ICON -->
    <link href="/nude.ico" rel="icon" type="image/x-icon" />

    <!-- CSS  -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">

    <!-- JavaScripts -->
    <script rel="javascript" src="js/jquery.min.js"></script>
    <script rel="javascript" src="js/bootstrap.min.js"></script>
  </head>

  <body>
    
    <div class="wrapper fadeInDown">
      <div id="formContent">
      <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <div style="padding: 20px">
            <img src="/logo.ico" id="icon" alt="User Icon" />
          </div>
        </div>

        <!-- Login Form -->
        <form action="/login" method="post">
          <input type="text" id="login" class="fadeIn second" name="username" placeholder="user">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
          <button type="submit" class="fadeIn fourth"> Login </button>
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

      </div>
    </div>
  
  </body>

</html>